In [5]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

In [6]:
import mysql.connector as connector

In [7]:
connection = connector.connect(user = "root", password = "Colkim234#", db = "little_lemon_db")

In [8]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [9]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [10]:
create_bookings_tables = """CREATE TABLE Bookings (
BookingID INT,
TableNO INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
Primary Key (BookingID),
);"""

In [11]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [12]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
cursor.execute(insert_menuitems)
connection.commit()"""

In [13]:
select_query ="""SELECT * FROM MenuItems
where ItemID = 1;"""

In [17]:
show_tables_query ="""("SHOW tables" 
cursor.execute(show_tables_query)
print(results);"""

In [19]:
show_tables_query = ("SHOW tables")

In [36]:
read_data_query = """Select * FROM MenuItems"""

In [38]:
cursor  = connection.cursor()

In [39]:
cursor.execute(show_tables_query)

cursor.execute("USE little_lemon_db")

In [47]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [48]:
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [49]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [50]:
all_bookings = """SELECT GuestFirstName, GuestLastName, TableNo FROM Bookings"""

In [59]:
sql_query = """SELECT SUM(BillAmount) AS Total_Sale FROM Orders;"""

In [61]:
results = cursor.fetchall()

In [62]:
cursor.execute(sql_query)

In [63]:
results = cursor.fetchall()

cursor.commit

In [68]:
connection.commit()